body {
    text-align: center;
    border: solid;
    border-color: white;
    background-color: black;
    color: white;
}

#Timer {
    font-size: 100px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: auto;
    margin-top: 1rem;
}

#Container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Title {
    font-size: 65px;
    font-weight: 500;
}

#Question, #Answers {
    font-family: monospace;
}

#Question {
    font-size: 26px;
    margin: 15px;
}

#Answers {
    font-size: 20px;
}

.button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin: 5px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button:hover {
    background-color: rgba(255, 0, 0, 1);
}